@model  WebApplication2.Models.Student
@{
    Page.Title = "標題在此";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    //Layout = "您的版面配置頁面在此";
}
<h2>我是ShowData2</h2>
<div>
     @Model.Id
    @Model.Name
</div>